---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16JCNaAcWgwn5pBtshevZUIu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_16JCNaAcWgwn5pBtshevZUIu; a similar object exists in live mode, but a test mode key was used to make this request.",
            "param": "id"
          }
        }
  recorded_at: Tue, 30 Jun 2015 03:41:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16JFdCAcWgwn5pBtC5eqLlUX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16JFdCAcWgwn5pBtC5eqLlUX",
          "created": 1435635718,
          "livemode": false,
          "type": "customer.subscription.deleted",
          "data": {
            "object": {
              "id": "sub_6VyNZ79RpMRvQ5",
              "plan": {
                "interval": "month",
                "name": "Friend of Ruby Together",
                "created": 1433963947,
                "amount": 1000,
                "currency": "usd",
                "id": "friend",
                "object": "plan",
                "livemode": false,
                "interval_count": 1,
                "trial_period_days": null,
                "metadata": {},
                "statement_descriptor": null
              },
              "object": "subscription",
              "start": 1435561884,
              "status": "canceled",
              "customer": "cus_6VvtoGAz7B9hfA",
              "cancel_at_period_end": false,
              "current_period_start": 1435561884,
              "current_period_end": 1438153884,
              "ended_at": 1435635716,
              "trial_start": null,
              "trial_end": null,
              "canceled_at": 1435635716,
              "quantity": 1,
              "application_fee_percent": null,
              "discount": null,
              "tax_percent": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6WIDBg0wMNAfY1",
          "api_version": "2015-04-07"
        }
  recorded_at: Tue, 30 Jun 2015 03:42:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=individual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Tue, 30 Jun 2015 03:42:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 1,
          "has_more": false,
          "url": "/v1/customers",
          "data": [
            {
              "object": "customer",
              "created": 1435552677,
              "id": "cus_6VvtoGAz7B9hfA",
              "livemode": false,
              "description": null,
              "email": "mail@arko.net",
              "delinquent": false,
              "metadata": {},
              "subscriptions": {
                "object": "list",
                "total_count": 10,
                "has_more": false,
                "url": "/v1/customers/cus_6VvtoGAz7B9hfA/subscriptions",
                "data": [
                  {
                    "id": "sub_6VxdYMCONitqZy",
                    "plan": {
                      "interval": "month",
                      "name": "Emerald Member",
                      "created": 1433963948,
                      "amount": 80000,
                     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=friend
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Tue, 30 Jun 2015 03:42:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_topaz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Tue, 30 Jun 2015 03:42:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_sapphire
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Tue, 30 Jun 2015 03:42:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6VvtoGAz7B9hfA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_onyx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 1,
          "has_more": false,
          "url": "/v1/customers",
          "data": [
            {
              "object": "customer",
              "created": 1442344988,
              "id": "cus_6zNmRrC7sFTNk8",
              "livemode": false,
              "description": null,
              "email": "mail@arko.net",
              "shipping": null,
              "delinquent": false,
              "metadata": {},
              "subscriptions": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/customers/cus_6zNmRrC7sFTNk8/subscriptions",
                "data": [
                  {
                    "id": "sub_6zNmkOo306EOek",
                    "plan": {
                      "interval": "month",
                      "name": "Onyx Memberbership",
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_emerald
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Sat, 03 Oct 2015 03:04:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_jade
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Sat, 03 Oct 2015 03:04:40 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=individual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "total_count": 0,
          "url": "/v1/customers"
        }
  recorded_at: Mon, 25 Jan 2016 08:38:43 GMT
recorded_with: VCR 2.9.3
