<%- title "your membership" -%>

<% if @membership.friend? %>
  <%= render "friend_status" %>
<% else %>
  <%= render "member_status" %>
<% end %>

<p><%= link_to "Update your information", edit_membership_path %> to change your name, email address, or billing information. For help with anything else, <%= contact_us %>.</p>
