---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7VmzGcohKDBG5L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7VmzGcohKDBG5L",
          "object": "customer",
          "account_balance": 0,
          "created": 1449819240,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "alice@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7VmzGcohKDBG5L/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7VmzGcohKDBG5L/subscriptions"
          }
        }
  recorded_at: Fri, 11 Dec 2015 07:43:03 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7VmzGcohKDBG5L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7VmzGcohKDBG5L",
          "object": "customer",
          "account_balance": 0,
          "created": 1449819240,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "bob@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7VmzGcohKDBG5L/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7VmzGcohKDBG5L/subscriptions"
          }
        }
  recorded_at: Fri, 11 Dec 2015 12:44:04 GMT
recorded_with: VCR 2.9.3
