---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_18D46XAcWgwn5pBtTNAPj1zx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_18D46XAcWgwn5pBtTNAPj1zx",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1463714113,
          "data": {
            "object": {
              "id": "in_18D45lAcWgwn5pBtU5JaLk9k",
              "object": "invoice",
              "amount_due": 500000,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_18D46XAcWgwn5pBtJTzzp1Py",
              "closed": false,
              "currency": "usd",
              "customer": "cus_8U1TcYRfvl8VqP",
              "date": 1463714065,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_18D3YMAcWgwn5pBtqEeM02bs",
                    "object": "line_item",
                    "amount": 500000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1463711994,
                      "end": 1463711994
                    },
                    "plan": null,
                    "proration": false,
                    "quantity": null,
                    "subscription": "sub_8U1VI45WcTmBFt",
                    "type": "invoiceitem"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_18D45lAcWgwn5pBtU5JaLk9k/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": 1463973313,
              "paid": false,
              "period_end": 1463714065,
              "period_start": 1463711601,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": null,
              "subtotal": 500000,
              "tax": null,
              "tax_percent": null,
              "total": 500000,
              "webhooks_delivered_at": 1463714102,
              "payment": "ch_18D46XAcWgwn5pBtJTzzp1Py"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8U2AhsQOCjAGy4",
          "type": "invoice.payment_failed"
        }
  recorded_at: Fri, 20 May 2016 03:45:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8U1TcYRfvl8VqP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8U1TcYRfvl8VqP",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1463711504,
          "currency": "usd",
          "default_source": "card_18D3RNAcWgwn5pBtT4l6eaNK",
          "delinquent": true,
          "description": "Fails invoice payments",
          "discount": null,
          "email": "alice@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18D3RNAcWgwn5pBtT4l6eaNK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8U1TcYRfvl8VqP",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "FLcmEzCB80ITlNjt",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8U1TcYRfvl8VqP/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8U1VI45WcTmBFt",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1463711601,
                "current_period_end": 1463727599,
                "current_period_start": 1463711601,
                "customer": "cus_8U1TcYRfvl8VqP",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "corporate_ruby",
                  "object": "plan",
                  "amount": 500000,
                  "created": 1453710393,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Ruby Membership",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1463712033,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1463727599,
                "trial_start": 1463711601
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8U1TcYRfvl8VqP/subscriptions"
          }
        }
  recorded_at: Fri, 20 May 2016 03:45:28 GMT
[...]
