<section class="join-box" id="plans">
  <p class="title">Developer Membership</p>
  <p class="price"><span class="currency">$</span>100 per month</p>
  <p>Annual vote on Ruby Together board members,</p>
  <p>Monthly newsletter with progress updates,</p>
  <p>Invitation to members-only Slack team for group chat.</p>
  <p class="link"><%= link_to_plan "Become a member!", "developer_large", class: "solid-button" %></p>
</section>
