<section class="join-box">
  <p class="title">Emerald Member</p>
  <p class="price"><span class="currency">$</span>800 per month</p>
  <p>Prominent position in the Ruby Together member list</p>
  <p>Recognition as new member in Ruby Together blog post</p>
  <p>Thank you tweet from @rubytogether</p>
  <%= link_to_plan "Become an Emerald Member!", "corporate_emerald", class: "solid-button" %>
</section>
