<section class="join-box">
  <p class="title">Jade Member</p>
  <p class="price"><span class="currency">$</span>100 per month</p>
  <p>Vote on board members,<br>
    get progress updates,<br>
    and join the members Slack</p>
  <%= link_to_plan "Become a Jade Member!", "corporate_jade", class: "solid-button" %>
</section>
