<section class="join-box">
  <p class="title">One-time donation</p>
  <p class="price">any amount, once</p>
  <p>Membership benefits are not included.</p>
  <p>
    Enter an amount to donate:<br>
    $<%= text_field_tag "one-time-amount", "150", class: "inline", style: "width: 60%; padding: 5px 4px 0 4px; margin: 4px 2px 0 0;" %>
  </p>
  <p class="link">
    <%= link_to "Donate once", "javascript:;",
      "class" => "solid-button",
      "data-amount-input" => "one-time-amount",
      "data-charge" => true,
      "data-charge-name" => "Ruby Together" %>
  </p>
</section>
