<section class="join-box">
  <p class="title">Ruby Member</p>
  <p class="price"><span class="currency">$</span>5000 per month</p>
  <p>Annual guest blog post from the Ruby Together team</p>
  <%= link_to_plan "Become a Ruby Member!", "corporate_ruby", class: "solid-button" %>
</section>
