<section class="join-box">
  <p class="title">Ruby+ Member</p>
  <p class="price">contact us</p>
  <p>Meet with the Ruby Together team about your infrastructure needs</p>
  <%= link_to "Schedule a call", "https://calendly.com/rubytogether/introduction-to-ruby-together", class: "solid-button" %>
</section>
