<section class="join-box">
  <p class="title">Sapphire Member</p>
  <p class="price"><span class="currency">$</span>2000 per month</p>
  <p>Logo on conference talk slides thanking members</p>
  <p>One annual guest blog post from the Ruby Together team</p>
  <p>Customized thank you tweet each month by @rubytogether</p>
  <%= link_to_plan "Become a Sapphire Member!", "corporate_sapphire", class: "solid-button" %>
</section>
