---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_18LmVXAcWgwn5pBtJT0nT3hc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_18LmVXAcWgwn5pBtJT0nT3hc",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1465791423,
          "data": {
            "object": {
              "id": "in_18LmVWAcWgwn5pBttRijTnJy",
              "object": "invoice",
              "amount_due": 0,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": true,
              "charge": null,
              "closed": true,
              "currency": "usd",
              "customer": "cus_8U1TcYRfvl8VqP",
              "date": 1465791422,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8d2aO41CzC39fS",
                    "object": "line_item",
                    "amount": 0,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1465791422,
                      "end": 1592031599
                    },
                    "plan": {
                      "id": "corporate_ruby",
                      "object": "plan",
                      "amount": 500000,
                      "created": 1453710393,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Ruby Membership",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_18LmVWAcWgwn5pBttRijTnJy/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1465791422,
              "period_start": 1465791422,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8d2aO41CzC39fS",
              "subtotal": 0,
              "tax": null,
              "tax_percent": null,
              "total": 0,
              "webhooks_delivered_at": null,
              "payment": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8d2aKYUYmY0xaW",
          "type": "invoice.payment_succeeded"
        }
  recorded_at: Mon, 13 Jun 2016 04:19:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8U1TcYRfvl8VqP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8U1TcYRfvl8VqP",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1463711504,
          "currency": "usd",
          "default_source": "card_18D3RNAcWgwn5pBtT4l6eaNK",
          "delinquent": false,
          "description": "Fails invoice payments",
          "discount": null,
          "email": "alice@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18D3RNAcWgwn5pBtT4l6eaNK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8U1TcYRfvl8VqP",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "FLcmEzCB80ITlNjt",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8U1TcYRfvl8VqP/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8d2aO41CzC39fS",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1465791422,
                "current_period_end": 1592031599,
                "current_period_start": 1465791422,
                "customer": "cus_8U1TcYRfvl8VqP",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "corporate_ruby",
                  "object": "plan",
                  "amount": 500000,
                  "created": 1453710393,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Ruby Membership",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1465791422,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1592031599,
                "trial_start": 1465791422
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8U1TcYRfvl8VqP/subscriptions"
          }
        }
  recorded_at: Mon, 13 Jun 2016 04:19:22 GMT
[...]
