<section id="faq" class="group">
  <h3>FAQ</h3>

  <h4>Who is Ruby Together paying to improve these tools?</h4>

  <p>Expert Ruby developers that the community knows and trusts. Our entire team is listed on the <%= link_to "team page" %>.</p>

  <h4>How do I control how my money will be spent?</h4>

  <p>As a member, you'll vote directors on to the Ruby Together <%= link_to "board of directors", team_path(anchor: "board") %> every year. The board members you vote for will decide which projects to fund.</p>

  <h4>What makes this different from past Ruby fundraising disasters?</h4>

  <p>We're completely open about the projects that we're working on, and the progress that we've made so far. Unlike past efforts, our funding and public update cycle happens every single month. If at any time you don't think our work is worth your money, you can stop supporting it. Easy peasy.</p>
</section>
