<section>
  <h3>Fundraising Progress</h3>
  
    <p> 
      This graph represents Ruby Together's fundraising progress to date, as well as our future fundraising goals. This does not include sponsored work on projects by groups other than Ruby Together.
    </p>
  
  <%= render "funding_progress_bar" %>

  <%= render "fundraising_goals" %>
</section>
