<section id="fundraising_goals">
  <p>
    We have ambitious fundraising goals, and as we hit them we will kick off even bigger projects:

    <ul>
      <li>Create a public Ruby ecosystem analytics dashboard, including Ruby version usage, Bundler version usage, and dramatically expanded statistics for each gem</li>
      <li>Merge Bundler and RubyGems to stop bugs due to mismatched versions forever</li>
      <li>Expand RubyBench.org into a public benchmark for every commit of Bundler, Rails, and Ruby itself</li>
    </ul>

    Those are just examples, and there's a lot more.
  </p>

  <p>When we hit $35k per month, we'll not only have developers maintaining every core tool, we'll have someone working to improve those tools full time as well. When we hit $50k per month, we'll hire a second full-time developer to focus on maintaining and improving Rails and Ruby itself.</p>

  <p>Ruby needs this, and your help is critical to get it done.</p>
</section>
