<section class="progress-bar">
  <section class="progress-bar-entry">
    <p class="amount">$50k+</p>
    <p class="title">Rapid Improvements</p>
    <ul>
      <li>Hire a second full-time dev to focus on Ruby, Rails, &amp; other projects</li>
    </ul>
  </section>

  <section class="progress-bar-entry">
    <p class="amount">$35-50k</p>
    <p class="title">Steady Improvements</p>
    <ul>
      <li>Hire a full-time dev to improve gem tools</li>
      <li>Create a public Ruby ecosystem analytics dashboard</li>
      <li>Merge Bundler and RubyGems into a single, unified project</li>
      <li>Expand RubyBench to comprehensively cover Ruby, Rails, and Bundler</li>
    </ul>
  </section>

  <section class="progress-bar-entry">
    <p class="amount">$20-35k</p>
    <p class="title">Slow Improvements</p>
    <ul>
      <li>3 devs at 1-2 days per week</li>
      <li>Maintain Bundler, RubyGems, and RubyGems.org</li>
      <li>Continuous improvements, as long as nothing unusual goes wrong</li>
    </ul>
  </section>

  <section class="progress-bar-entry">
    <p class="amount">$10-20k</p>
    <p class="title">Limited Maintenance</p>
    <ul>
      <li>2-3 devs at 5 hours per week</li>
      <li>Maintain Bundler and RubyGems.org</li>
      <li>No maintenance on RubyGems</li>
      <li>Improvements only from volunteers</li>
    </ul>
  </section>

  <section class="progress-bar-entry">
    <p class="amount">$0-10k</p>
    <p class="title">Volunteers</p>
    <ul>
      <li>Maintenance as time permits</li>
      <li>Fixes take days or weeks</li>
      <li>Improvements take months or years</li>
    </ul>
  </section>
</section>
