<section id="join" class="group">
  <div class="join-box center">
    <p class="title">Developers</p>
    <button class="link hollow-button"><%= link_to_plan "Join Ruby Together", "individual" %></button>
    <p class="learn-more"><%= link_to "Learn More", developers_path %></p>
  </div>

  <div class="join-box center">
    <p class="title">Companies</p>
    <button class="link hollow-button"><%= link_to "Join Ruby Together", companies_path(anchor: "plans") %></button>
    <p class="learn-more"><%= link_to "Learn More", companies_path %></p>
  </div>
</section>
