<section id="join" class="group">
  <div class="join-box center">
    <p class="title">Developers</p>
    <%= link_to_plan "Back Ruby Together", "individual", class: "solid-button" %>
    <p>$40 per month</p>
    <p class="learn-more"><%= link_to "Learn More", developers_path %></p>
  </div>

  <div class="join-box center">
    <p class="title">Companies</p>
    <%= link_to "Back Ruby Together", companies_path(anchor: "plans"), class: "solid-button" %>
    <p>From $50 per month</p>
    <p class="learn-more"><%= link_to "Learn More", companies_path %></p>
  </div>
</section>
