<section id="progress">
  <h3>Significant Progress</h3>
  <p>
    For over six years, Ruby Together as maintained and developed infrastructure for the Ruby programming language:
  </p>
  <ul>
    <li>
      Made Bundler faster, more reliable, and less buggy in 1 major, 9 minor, 85 patch, and 27 prerelease versions, while helping merge Bundler into Ruby itself
    </li>
    <li>
      Improved RubyGems by fixing bugs, integrating Bundler, and releasing 1 major, 5 minor, 55 patch, and 4 prerelease versions
    </li>
    <li>
      Maintained RubyGems.org to provide gems faster and more securely, while providing a record 99.998% uptime for gem downloads from 2015 to 2021
    </li>
    <li>
      Funded rebuilding and relaunching The Ruby Toolbox, the most thorough gem reference and comparison site on the internet
    </li>
    <li>
      Launched Gemstash, a private gem server that can also cache gems locally for your office or datacenter
    </li>
  </ul>
</section>
