<section id="progress">
  <h3>Significant Progress</h3>
  <p>
    In our first year, Ruby Together has completed significant improvements to the infrastructure that Ruby developers use every day:
  </p>
  <ul>
    <li>
      Shipped Bundler versions 1.10, 1.11, and 1.12, featuring conditional gems, optional groups, and a new gem index that can scale to handle the next five years of gems.
    </li>
    <li>
      Launched Gemstash 1.0, a server that can cache gems for your datacenter or office or host your private gems.
    </li>
    <li>
      Migrated RubyGems.org to use CDN servers around the world to serve data, speeding up gems for everyone.
    </li>
  </ul>
</section>
