<p class="center"><%= link_to_tweet "Tweet about Ruby Together", "I just joined @rubytogether! See why you should too and support Ruby OSS at", "https://rubytogether.org" %>, or <%= mail_to "", "send an email", subject: "I joined Ruby Together. Here's why you should too.", body: "I just joined Ruby Together, a nonprofit that pays developers to dedicate time to improving Bundler and other shared Ruby tools.

Supporting Ruby Together means we can stop relying on developers to fix shared tools in their spare time and start relying on the tools themselves. If you're interested in supporting robust Ruby tools, check it out!" %>!</p>
