<%- title "Ruby Together Benefits" -%>

<p>As a member of Ruby Together, you will be eligible to be credited on the <%= link_to "members page", members_path %> and recieve an invitation to the Ruby Together group chat room.</p>

<p>Corporate members will also be credited during conference talks by Ruby Together developers, and in project release notes, as well as being allowed to request up to 5 Slack invitations.</p>

<p>Finally, each member is given one vote in the periodic election of new Ruby Together board members.</p>

<p><%= link_to "Join now", join_url %> to support <%= link_to "our work", projects_path %> and start your membership benefits today.</p>
