<%- title "Ruby Together Benefits" -%>

<p>As a member, you are credited on the <a href="/members">members page</a>. Corporate members are credited during conference talks by the Ruby Together team, as well as progress announcements. Each individual member receives one invitation to the members channel in the Ruby Together Slack. Corporate members may request up to 5 invitations. Finally, each member is given one vote during elections to the Ruby Together board of directors.</p>
