<%- title "Ruby Together Benefits" -%>

<p>As a member of Ruby Together, you will be eligible to be credited on the <%= link_to "members page", members_path %> and receive an invitation to the Ruby Together Slack chat room.</p>

<p>Corporate members are also credited during conference talks by Ruby Together developers, and in project release notes, as well as being allowed to request up to 5 Slack invitations.</p>

<p>Every member will receive complimentary access to future benefits, and each member is given one vote in the yearly election of new Ruby Together board members.</p>

<p><%= link_to "Join now", join_url %> to support <%= link_to "our work", projects_path %> and start your membership benefits today.</p>
