<%- title "Ruby Together Benefits" -%>

<p>As a member of Ruby Together, you will be credited on the <a href="/members">members page</a> and recieve an invitation to the Ruby Together Slack chat.</p>

<p>Corporate members will also be credited during conference talks by Ruby Together developers and in project release notes, and may request up to 5 Slack invitations.</p>

<p>Finally, each member is given one vote in the periodic election of new Ruby Together board members.</p>
