<section id="what">
  <p class="center super-callout">You depend on it.</p>

  <p>
    Successfully creating and deploying nearly any software project today places a dependence on shared infrastructure, built on top of open source software and tools.
  </p>

  <p>
    Ruby Together was created to support the shared critical infrastructure and software that is required to package applications together and keep them online.
  </p>
  <p>
    Examples of this include:
    <ul>
      <li>rubygems.org - this is where all of the open source packages are hosted that come together to form the foundation for your Ruby application,</li>
      <li>Bundler - this is the open source software that is used to ensure your application's dependencies are downloaded and loaded properly.</li>
    </ul>
  </p>
</section>

<section id="why">
  <h3>Why this is important</h3>

  <p id="reliability">
    These systems require an immense amount of storage and reliable infrastructure to keep delivering the packages that your application uses in a timely, and reliable, fashion.
  </p>

  <p id="security">
    In order to ensure that your application remains secure, it is critical that the infrastructure, which processes and hosts the many packages that your application relies on, does so securely.
  </p>
  <p>
    Security best practices are constantly evolving and Ruby Together helps to ensure that these are put in place in a timely fashion.
  </p>

</section>

<%= render "progress_so_far" %>

<section id="how">
  <h3>How you can help</h3>
  <p>
    By becoming a member of Ruby Together, you are supporting the infrastructure that your application relies on.  This pays for ongoing maintenance and innovation, plus an on-call rotation so that if disaster strikes, people who can fix the problem are available and can quickly respond.
  </p>
  <p class="callout">Let's improve Ruby, together!</p>
</section>

<section id="join">
  <p>
    <%= link_to "Back Ruby Together", companies_path(anchor: "plans"), class: "solid-button" %>
  </p>
</section>
