<% content_for :header do %>
  <%= image_tag("rubies.png", width: "250", class: "home") %>
  <h1 class="home">Ruby Together</h1>
<% end %>

<p>Stop hoping that developers will maintain and improve Ruby's public infrastructure for free in their spare time, and start relying on tools that actually work.</p>

<section class="group">
  <p class="callout">There's a better way to maintain and improve our shared Ruby tools.</p>

  <ul>
    <li>Community funding allows Ruby Together to pay developers to work on improving Bundler, RubyGems.org, and other shared tools.</li>
    <li>The Ruby Together board of directors (elected by members) selects the most impactful projects to work on.</li>
    <li>Ruby Together publishes monthly updates showing progress and results.</li>
  </ul>
</section>

<section>
  <p class="quote">Better tooling means ease of use for our engineers and customers. Our engineering and support teams benefit by having things working better at a fast pace, meaning we can provide more to our customer base.</p>
  <p class="attribution">— PJ Hagerty, Community Team Lead at Engine Yard</p>
</section>

<%= render "join" %>
