<h1>Ruby Together</h1>

<p>Ruby Together is a 501(c)(6) non-profit trade organization dedicated to developing and improving the open source and publicly available tools and infrastructure of the Ruby programming language.</p>

<h2>Become a member</h2>

<p>Membership dues fund development work on tools and services used by every Ruby developer, as well as providing special members-only benefits. <a href="#join">Join Ruby Together today</a>!</p>

<h2>Projects</h2>

<h3>Bundler</h3>

<p>Bundler is the Ruby dependency manager. Used by nearly every Ruby project, Bundler makes it possible to manage and install the same gems in development and deployment. Ruby Together funds ongoing maintenance and development of Bundler.</p>

<h3>Rubygems</h3>

<p>First released in 200X, Rubygems makes it easy to create, use, and manage libraries of Ruby source code. Ruby Together funds development and maintenance of specific features provided by Rubygems.</p>

<h3>Rubygems.org</h3>

<p>Provided by Ruby Central, rubygems.org is the public repository of gems, hosting hundreds of thousands of versions of tens of thousands of Ruby libraries. Ruby Together funds ongoing development and operations work, as well as the on-call support team.</p>

<h3>Rubybench</h3>

<p>The Rubybench project provides continuous, automated benchmarking for Ruby implementations, versions, and even individual commits. Benchmarks are also run against each version of Ruby on Rails. These benchmarks provide a straightforward way to guard against performance regressions in both Ruby and Rails. Ruby Together funds the infrastructure Rubybench runs on, as well as ongoing maintenance of the test suite.</p>

<h3>Rails</h3>

<p>Ruby on Rails may be the most popular web development framework on earth. Ruby Together funds ongoing maintenance and development of the Ruby on Rails framework, as well as individual features and performance improvements.</p>

<h3>Ruby</h3>

<p>The Ruby programming language, created by Matsumoto Yukihiro in 1996, is used and enjoyed by programmers all over the world. Ruby Together funds maintenance and development of the Ruby interpreter, as well as the ongoing development of the Ruby language itself.</p>

<h3>JRuby</h3>

<p>The JRuby project is an implementation of the Ruby language that runs on the Java Virtual Machine. Ruby Together funds ongoing maintenance and development of JRuby.</p>


<h2>Corporate members</h2>

<h3>Stripe</h3>
<h3>Engine Yard</h3>

<h2>Individual members</h2>

<ul>
  <li>André Arko</li>
</ul>

<h2>Join Ruby Together</h2>

<p>Membership in Ruby Together is available to any individual or corporation that uses the Ruby programming language as part of their work. Membership dues can be paid monthly or annually, with all dues going towards the operation of Ruby Together and the maintenance and development of the Ruby tools and services you use every day.</p>

<h3>Benefits</h3>

<p>Members receive benefits including public acknowledgement in publications and confer</p>ence talks, and the opportunity to schedule meetings with the Ruby Together team. Members are also permitted to vote when new directors are elected to the Ruby Together board.

