<%- subtitle "Join" -%>

<p>Any person or company that uses Ruby as part of their work can join. Membership dues can be paid monthly or annually, and fund development work on <a href="/projects">tools and services</a> used by every Ruby developer. Individual dues start at USD $40 per month, and corporate dues start at USD $800 per month. </p>

<p>
  <a href="">Join Ruby Together today!</a>
</p>
