<%- title "Join Ruby Together" -%>

<p>Any person or company that uses Ruby as part of their work can join and receive <a href="/benefits">members-only benefits</a>. Membership dues fund <a href="/team">our team</a> to work on <a href="/projects">tools and services</a> used by every Ruby developer.</p>

<p>Join Ruby Together today as an individual for <a href="javascript:;" data-subscription="individual">$40 per month</a>, join as a corporation for <a href="javascript:;" data-subscription="corporation">$800 per month</a>, or just <a href="mailto:hello@rubytogether.org">contact us</a>.</p>

<%- content_for :script do -%>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var showFlash = function(message, status) {
      var type = (status === "success") ? "notice" : "alert";
      $(".flashes").html('<p class="flash ' + type + '">' + message + '</p>');
    };

    var createCheckout = function(type) {
      var sendToken = function(token) {
        var data = {email: token.email, token: token.id, type: type};
        $.post('<%= membership_path %>', data, function(res) {
          if (res.url) {
            document.location = res.url;
          } else if (res.message) {
            showFlash(res.message, res.result);
          }
        }).fail(function(xhr, textStatus, errorThrown) {
          showFlash("There was an error while charging your card.", "failure");
        });
      };

      return StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe.publishable_key %>',
        image: '/images/rubies-square.png',
        token: sendToken
      });
    };

    var checkoutIndividual = createCheckout("individual");
    $('a[data-subscription="individual"]').click(function(e) {
      checkoutIndividual.open({
        name: 'Ruby Together',
        description: 'Monthly Membership Dues',
        amount: 4000
      });
      e.preventDefault();
    });

    var checkoutCorporate = createCheckout("corporate");
    $('a[data-subscription="corporate"]').click(function(e) {
      checkoutCorporate.open({
        name: 'Ruby Together',
        description: 'Monthly Membership Dues',
        amount: 80000
      });
      e.preventDefault();
    });

  </script>
<%- end -%>
