<%- title "Ruby Together Members" -%>

<p><a href="https://stripe.com">Stripe</a>, payment infrastructure for the internet. <a href="http://engineyard.com">Engine Yard</a>, the platform-as-a-service of your dreams. André Arko, Aaron Patterson, Steve Klabnik, Sarah Mei, Terence Lee, Ines Sombra, Joel Watson, <a href="/join">and you</a>.</p>
