<%- title "Ruby Together Members" -%>

<% @corporate.each do |name, desc, url| %>
  <h3 class="company-name"><%= link_to name, url %></h3>
  <p class="company-description"><%= desc %></p>
<% end %>

<h3>Individual Members</h3>
<%- @individual << link_to("viewers like you", join_path) -%>
<p>Individual members include <%= @individual.to_sentence.html_safe %>.</p>
