<%- title "Ruby Together Members" -%>

<p>Corporate members include <%= link_to "Stripe", "https://stripe.com" %>, payments infrastructure for the internet, and <%= link_to "Engine Yard", "http://engineyard.com" %>, the platform-as-a-service of your dreams.</p>

<p>Individual members include André Arko, Aaron Patterson, Steve Klabnik, Sarah Mei, Terence Lee, Ines Sombra, Joel Watson, and <%= link_to "viewers like you", join_path %>.</p>
