<%- title "Ruby Together Projects" -%>

<p><a href="http://bundler.io">Bundler</a> is the Ruby dependency manager. Used by nearly every Ruby project, Bundler makes it possible to manage and install the same gems in development and deployment. Ruby Together funds ongoing maintenance and development of Bundler.</p>

<p><a href="http://rubygems.org">Rubygems</a> makes it easy to create, use, and manage libraries of Ruby source code. Ruby Together funds development and maintenance of specific features provided by Rubygems.</p>

<p><a href="http://rubygems.org">Rubygems.org</a> is the public repository of gems, hosting hundreds of thousands of versions of tens of thousands of Ruby libraries. Ruby Together funds ongoing development and operations work, as well as members of the on-call support team.</p>

<p>Support our work on these and other Ruby projects by <a href="/join">joining Ruby Together today</a>.</p>