<%- subtitle "Projects" -%>

<p>Bundler, the Ruby dependency manager. Rubygems, the Ruby package manager. Rubygems.org, the public Rubygems server. RubyBench, the continuous benchmarking service. Ruby on Rails, the popular Ruby web development framework. JRuby, the Java Virtual Machine implementation of Ruby. Ruby, the language that makes it possible for the rest of these projects to exist.</p>
