<% title "Ruby Together roadmap" %>

<p class="callout">Take a look at where we're headed.</p>

<section class="group">
  <h3 id="focus-areas">Focus Areas</h3>

  <p>Today, Ruby Together is committed to improving the three most widely-used core Ruby tools:</p>

  <ul>
    <li><b>Bundler</b>, the Ruby dependency manager, used by every Ruby project to manage and install gems</li>
    <li><b>RubyGems</b>, the code that makes it possible to create gems in the first place</li>
    <li><b>RubyGems.org</b>, the website that provides free hosting for public gems</li>
  </ul>
</section>


<section class="group">
  <h3 id="upcoming-projects">Upcoming Projects</h3>

  <p>As time and funding permits, the Ruby Together team will:</p>

  <ul>
    <li>Roll out a <%= link_to "new gem index", "http://andre.arko.net/2014/03/28/the-new-rubygems-index-format/" %> that will make installing gems two to ten times faster than today</li>
    <li>Migrate all of RubyGems.org to the <%= link_to "Fastly CDN", "http://fastly.com" %>, providing dramatic speed improvements when downloading gems and gem data</li>
    <li>Build a gem caching server to easily allow data centers and offices to cache local copies of the gems they need, whether public or private</li>
    <li>Improve <%= rubygems_org %>, adding search, statistics, and more gem information to every page</li>
  </ul>

  <p>And there will be more! We start new projects based on community need and Ruby Together's available funding.</p>
</section>

<section>
  <h3>Funding Levels</h3>

  <section class="progress-bar">
    <section class="progress-bar-entry">
      <p class="amount">$50k+</p>
      <p class="title">Rapid Improvements</p>
      <ul>
        <li>Hire a second full-time dev to focus on Ruby, Rails, &amp; other projects</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$35-50k</p>
      <p class="title">Steady Improvements</p>
      <ul>
        <li>Hire FT dev to improve gem tools</li>
        <li>Finish the new index project in just a few weeks (3-6 weeks)</li>
        <li>Migrate all of RubyGems.org to use the Fastly CDN (4-8 weeks)</li>
        <li>Build a local gem-caching server for datacenters and offices (4 months)</li>
        <li>Create a public Ruby ecosystem analytics dashboard (1 month)</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$20-35k</p>
      <p class="title">Slow Improvements</p>
      <ul>
        <li>3 devs at 1-2 days per week</li>
        <li>Maintain Bundler, RubyGems, and RubyGems.org</li>
        <li>Continuous improvements, as long as nothing unusual goes wrong</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$10-20k</p>
      <p class="title">Limited Maintenance (we are almost here!)</p>
      <ul>
        <li>2 devs at 5 hours per week</li>
        <li>Maintain Bundler and RubyGems.org</li>
        <li>No maintenance on RubyGems</li>
        <li>Improvements only from volunteers</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$0-10k</p>
      <p class="title">Volunteers</p>
      <ul>
        <li>Maintenance as time permits</li>
        <li>Fixes take days or weeks</li>
        <li>Improvements take months or years</li>
      </ul>
    </section>
  </section>

  <p>
    We have ambitious fundraising goals, and as we hit them we will kick off even bigger projects:

    <ul>
      <li>Create a public Ruby ecosystem analytics dashboard, including Ruby version usage, Bundler version usage, and dramatically expanded statistics for each gem</li>
      <li>Merge Bundler and RubyGems to stop bugs due to mismatched versions forever</li>
      <li>Expand RubyBench.org into a public benchmark for every commit of Bundler, Rails, and Ruby itself</li>
    </ul>

    Those are just examples, and there's a lot more.
  </p>

  <p>When we hit $35k per month, we'll not only have developers maintaining every core tool, we'll have someone working to improve those tools full time as well. When we hit $50k per month, we'll hire a second full-time developer to focus on maintaining and improving Rails and Ruby itself.</p>

  <p>Ruby needs this, and we need your help to get it done.</p>
</section>

<%= render "join" %>