<% title "Rubygems Partnership" %>

<p>The Rubygems Partnership is a cooperative effort between Ruby Central and Ruby Together to ensure that <%= rubygems_org %> is funded, stable, maintained, and supported.</p>

<p><%= link_to "Ruby Central", "http://rubycentral.org" %>, organizers of the international RubyConf and RailsConf conferences, own the <%= rubygems_org %> service. They underwrite hosting costs and ensure that the service is able to continue long-term without needing any external source of funding.</p>

<p><%= link_to "Ruby Together", "http://rubytogether.org" %> provides funding and coordination for ongoing development, maintenance, and support work, as well as on-call system administrators. This ensures that the service continues to mature, grow, and improve, as well as ensuring that everything continues to run in tip-top shape.</p>
