<%- title "Ruby Together Team" -%>

<p>
  <a href="http://twitter.com/indirect">André Arko</a> founded Ruby Together and leads development of <a href="http://bundler.io">Bundler</a>.
</p>

<p>
  The Ruby Together board of directors includes
  <a href="http://twitter.com/indirect">André Arko</a>,
  <a href="http://twitter.com/tenderlove">Aaron Patterson</a>,
  <a href="http://twitter.com/steveklabnik">Steve Klabnik</a>,
  <a href="http://twitter.com/sarahmei">Sarah Mei</a>,
  <a href="http://twitter.com/hone02">Terence Lee</a>,
  <a href="http://twitter.com/randommood">Ines Sombra</a>,
  and <a href="http://twitter.com/watsonian">Joel Watson</a>.
</p>