<%- title "Ruby Together Team" -%>

<p>André Arko founded Ruby Together, serves on the board of directors, and works to maintain <a href="https://bundler.io">Bundler</a>. Aaron Patterson serves on the board of directors. Steve Klabnik serves on the board of directors. Sarah Mei serves on the board of directors. Terence Lee serves on the board of directors. Ines Sombra serves on the board of directors. Joel Watson serves on the board of directors.</p>
