<%- title "Ruby Together Team" -%>

<p><a href="http://twitter.com/indirect">André Arko</a> founded Ruby Together and and sits on the board of directors.</p>
<p><a href="http://twitter.com/tenderlove">Aaron Patterson</a> is a founding director.</p>
<p><a href="http://twitter.com/steveklabnik">Steve Klabnik</a> is a founding director.</p>
<p><a href="http://twitter.com/sarahmei">Sarah Mei</a> is a founding director.</p>
<p><a href="http://twitter.com/hone02">Terence Lee</a> is a founding director.</p>
<p><a href="http://twitter.com/randommood">Ines Sombra</a> is a founding director.</p>
<p><a href="http://twitter.com/watsonian">Joel Watson</a> is a founding director.</p>
