<% title "Thank you!" %>

<p>Thank you for donating to Ruby Together! Your support makes Ruby better for everyone.</p>

<p>Please take a moment and encourage your Ruby friends to join Ruby Together, too. More support for Ruby Together means we can give back more awesome to the Ruby community.</p>

<%= render "tweet_or_email" %>
<% content_for(:footer, "<br>".html_safe) %>
