<% title "Ruby Together News" %>

<% @posts.group_by(&:date).each do |date, posts| %>
<p><%= date %></p>
<ul>
<% posts.each do |post| %>
  <li><%= link_to post.name, news_path(post.id) %></li>
<% end %>
</ul>
<% end %>