<% title "Ruby Together News" %>

<% @posts.group_by(&:date).each do |date, posts| %>
  <p class="post-date"><%= date %></p>
  <ul class="post-names">
  <% posts.each do |post| %>
    <li class="post-name"><%= link_to post.title, news_path(post.id) %></li>
  <% end %>
  </ul>
<% end %>
