/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "rubytogether";
@import "iconic";

body {
  margin: auto;
  max-width: 580px;
  padding: 0 2em;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

section.group {
  @extend %clearfix;
  margin-bottom: 1.75em;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  margin: 2em 0 2.5em 0;
  text-align: center;

  h1.home {
    margin-top: 0;
    font-size: 30px;
  }

  img.home {
    margin: 0;
  }

  a {
    font-weight: normal;
  }
}

.center {
  text-align: center;
}

.callout {
  font-size: 28px;
}

.super-callout {
  font-size: 47px;
  margin: 1.25em 0 1.25em 0;
}

.aside {
  font-size: 14px;
}

.flash {
  border: solid 5px;
  border-radius: 25px;
  padding: 18px 20px 12px 20px;

  &.alert {
    border-color: #bf1652;
  }
}

footer {
  padding-bottom: 25px;
}

nav {
  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
  }

  .iconic {
    position: relative;
    top: 3px;
  }

  &.site-nav {
    text-align: center;
    font-size: 14px;

    a {
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

section.content {
  padding-bottom: 10px;
}

// /members

.company-logo {
  max-width: 200px;
  max-height: 60px;
}

.company-name {
  margin-bottom: 0.5em;
}

.company-description {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

// /news

.post-date {
  font-size: 14px;
  margin: 0.5em 45px 0.25em 45px;
}

.post-names {
  margin: 0.25em 45px 1.25em 45px;
  padding-left: 0;

  li {
    list-style: none;
  }
}

.post-summary {
  font-size: 16px;
  margin-top: 0.25em;

  a {
    font-size: 14px;
    padding-left: 0.5em;
  }
}

// index

.join-box {
  float: left;
  width: 47%;
  margin-right: 3%;
  margin-bottom: 0;
  margin-top: 35px;

  &:nth-child(even) {
    margin-right: 0;
    margin-left: 3%;
  }
}

.join-box > .title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 28px;
}

%button {
  @extend %body-text;
  font-size: 16px;
  display: inline-block;
  padding: 10px 15px 9px 15px;
  margin: 2px 0;
  border-radius: 4px;
}

.hollow-button {
  @extend %button;
  background-color: $blue;
  border: 2px solid $dark_blue;

  &:hover {
    background-color: $dark_blue;
    color: $blue;
    text-decoration: none;
  }
}

.solid-button {
  @extend %button;
  background-color: $red;
  color: $blue;

  &:hover {
    background-color: $dark_red;
    text-decoration: none;
  }
}

.hollow-button {
  @extend %button;

  background-color: $blue;

  &:hover {
    background-color: $dark_blue;
    color: $blue;
  }
}

.join-box > .learn-more > a {
  font-size: 18px;
}

.join-box > .price {
  font-weight: bold;

  .currency {
    float: left;
    font-size: 11px;
    margin-top: 4px;
  }
}

// please wait spinner
@import "compass/css3/filter";
@import "compass/css3/animation";
@import "compass/css3/transform";

@include keyframes(spin) {
  0% {
    @include transform(rotate(-10deg));
  }
  50% {
    @include transform(rotate(10deg));
  }
  100% {
    @include transform(rotate(-10deg));
  }
}

.spinner {
  @include filter(drop-shadow( 0px  5px 15px $blue)
                  drop-shadow( 5px  0px 15px $blue)
                  drop-shadow(-0px -5px 15px $blue)
                  drop-shadow(-5px -0px 15px $blue));
  @include animation(spin 2s ease-in-out infinite);
}


// roadmap progress bar
.progress-bar {
  margin-bottom: 1.75em;
  position: relative;

  &:before {
    content: "►";
    position: absolute;
    bottom: 29%;
    left: 0;
    font-size: 30px;
  }
}

.progress-bar-entry {
  position: relative;
  clear: both;
  border-left: 70px solid;
  margin-left: 25px;
  min-height: 100px;
  padding: 0.5em 0 0.5em 25px;

  &:nth-child(1) {
    border-color: rgba($red, 1);
    .amount { bottom: 15px; }
  }

  &:nth-child(2) {
    border-color: rgba(229, 85,  126, 1);
    .amount { bottom: 63px; }
  }

  &:nth-child(3) {
    border-color: rgba(213, 126, 182, 1);
    .amount { bottom: 20px; }
  }

  &:nth-child(4) {
    border-color: rgba(145, 60,  146, 1);
    background-color: #fff;
    .amount { bottom: 13px; }
  }

  &:nth-child(5) {
    border-color: rgba(30, 23, 78, 1);
    background-color: #fff;
    .amount { bottom: 8px; }
  }

  .amount {
    position: absolute;
    left: -83px;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 95px;
    @include transform(
      rotateZ(-90deg)
      translateX(50%)
    );
    color: $blue;
  }

  .title {
    font-weight: bold;
    margin: 0 0 0.2em 0;
  }

  ul {
    margin: 0;
  }

  ul li {
    line-height: 1em;
    margin-bottom: 0.2em;
  }
}

form {
  margin-bottom: 15px;

  .field, .actions {
    margin: 20px auto;
    width: 340px;
  }

  .actions {
    text-align: right;
  }
}

form.newsletter {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

label {
  display: block;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  @extend %body-text;
  width: 330px;
  padding: 10px 5px 5px 5px;
  border: 0;
  background-color: #fff;
}

button,
input[type="submit"] {
  @extend %body-text;
  font-size: 16px;
  background-color: $dark_blue;
  color: $blue;
  border: 0;
  border-radius: 4px;
  padding: 12px 15px 9px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    cursor: pointer;
    background-color: $blue;
    border: 2px solid $dark_blue;
    padding: 10px 13px 7px 13px;
    color: $dark_blue;
  }
}

.inline-field {
  margin: 15px auto;

  label {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }

  input {
    margin-right: 0;
  }

  input[type="email"] {
    margin-right: 10px;
  }
}

.login-links {
  text-align: center;
}

.quote {
  font-style: italic;
  padding-top: 15px;
  margin-bottom: 0;

  &:before {
    content: "“";
    font-size: 28px;
    line-height: 18px;
    position: relative;
    top: 5px;
    left: -15px;
    margin-right: -8px;
  }

  &:after {
    content: "”";
    font-size: 28px;
    line-height: 18px;
    position: relative;
    top: 5px;
  }
}

.attribution {
  display: block;
  float: right;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 20px;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#faq {
  padding-top: 35px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {

  .inline-field {
    margin: 20px auto;
    width: 340px;

    label {
      float: left;
    }

    input {
      float: none;
    }

    input[type="submit"] {
      font-size: 18px;
      margin: 1em auto 0 auto;
    }
  }

  .iconic {
    width: 26px;
    height: 26px;
  }

  .progress-bar-entry {
    &:nth-child(2) {
      .amount { bottom: 15px; }
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait) {

  %text {
    font-size: 26px;
  }


  h3 {
    font-size: 32px;
  }

  .callout {
    font-size: 40px;
  }

  .quote {
    padding: 15px 0 0 0;

    &:before {
      margin-left: -5px;
    }

    &:before, &:after {
      font-size: 45px;
    }
  }

  .join-box > .title {
    font-size: 32px;
  }

  .join-box .learn-more a {
    font-size: 24px;
  }

  #plans .join-box {
    width: 100%;
    margin-bottom: 2em;
    margin-right: 0;
  }

  .hollow-button {
    font-size: 26px;
    line-height: 26px;
  }

  .inline-field {
    input[type="submit"] {
      font-size: 25px;
    }
  }

  .progress-bar {
    &:before {
      left: -22px;
    }
  }

  .progress-bar-entry {
    margin-left: 0;
    padding-left: 12px;
    padding-right: 10px;
    font-size: 24px;

    .amount {
      font-size: 22px;
    }

    ul {
      padding-left: 1em;
    }
  }
}
