/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'campton'
 *= require_tree .
 *= require_self
 */

$dark_pink: #f092dd;
$pink: #ffaff0;
$red: #bf1652;
$light: #d0d9e5;
$dark: #392f5a;

$font-campton: 'Campton';

body {
  background-color: $light;
  color: $dark;
  font-family: $font-campton;
  max-width: 580px;
  margin: auto;
  padding: 0 2em;
  font-size: 28px;
}

header {
  text-align: center;
  margin: 5em 0;

  img.home {
    margin: 2em 0;
  }
}

.flash {
  padding: 20px;
  border: solid 5px;
  border-radius: 25px;

  &.alert {
    border-color: #bf1652;
  }
}

section.content {
  padding-bottom: 2em;
}

h1 {
  font-size: 55px;
  text-transform: lowercase;
  margin: 0;
}

h2 {
  font-size: 36px;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $dark;

  &:hover {
    text-decoration: underline;
  }
}
