/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "rubytogether";

body {
  margin: auto;
  max-width: 580px;
  padding: 0 2em;
}

header {
  margin: 2em 0 2.5em 0;
  text-align: center;

  img.home {
    margin: 0.5em 0;
  }
}

.flash {
  border: solid 5px;
  border-radius: 25px;
  padding: 18px 20px 12px 20px;

  &.alert {
    border-color: #bf1652;
  }
}

section.content {
  padding-bottom: 1em;
}

form {
  margin-bottom: 15px;

  .field, .actions {
    margin-top: 15px;
    clear: left;
  }
}

label {
  float: left;
  width: 160px;
  line-height: 50px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  @extend %text;
  width: 250px;
  padding: 5px 5px 0 5px;
}

input[type="submit"] {
  @extend %text;
}

.login-links a {
  font-size: 20px;
}