/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "rubytogether";

body {
  margin: auto;
  max-width: 580px;
  padding: 0 2em;
}

section {
  margin-bottom: 1.75em;
}

header {
  margin: 2em 0 2.5em 0;
  text-align: center;

  img.home {
    margin: 0.5em 0;
  }
}

.flash {
  border: solid 5px;
  border-radius: 25px;
  padding: 18px 20px 12px 20px;

  &.alert {
    border-color: #bf1652;
  }
}

footer {
  padding-bottom: 25px;

  nav {
    text-align: center;
    font-size: 14px;
  }
}

nav {
  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
  }
}

section.content {
  padding-bottom: 10px;
}

form {
  margin-bottom: 15px;

  .field, .actions {
    margin: 20px auto;
    width: 340px;
  }

  .actions {
    text-align: right;
  }

  .inline-field {
    float: left;

    label {
      display: inline-block;
      float: left;
      margin-right: 10px;
      padding-top: 5px;
    }
  }

  .inline-actions {
    float: left;
    margin-left: 25px;
  }
}

label {
  display: block;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  @extend %body-text;
  width: 330px;
  padding: 5px 5px 0 5px;
  border: 0;
  background-color: $light;
  border-bottom: 1px solid $dark;
}

input[type="submit"] {
  @extend %body-text;
  font-size: 16px;
  background: $light;
  color: $dark;
  border: 2px solid $dark;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 4px;

  &:hover {
    color: $light;
    background-color: $dark;
  }
}

.login-links {
  text-align: center;
}

input.inline {
  height: 26px;
  padding: 2px 0 0 4px;
  width: 30px;
  vertical-align: top;
}

// /members

.company-logo {
  max-width: 200px;
  max-height: 60px;
}

.company-description {
  margin-bottom: 2em;
}

// /news

.post-date {
  margin-bottom: 0.25em;
}

.post-names {
  margin-top: 0.25em;
}

.post-name {
  list-style: none;
}

// /index

.join-box {
  float: left;
  width: 50%;
  text-align: center;
}

.join-box > .title > a {
  font-size: 20px;
}

.join-box > .link > a {
  color: $red;
}

.join-box > .learn-more > a {
  font-size: 18px;
  font-weight: normal;
}
