@import "campton";

$dark_pink: #f092dd;
$pink: #ffaff0;
$red: #bf1652;
$light: #d1d9e5;
$dark: #2a255f;

%text {
  color: $dark;
  font-family: 'Campton';
}

%body-text {
  @extend %text;
  font-size: 22px;
}

body {
  @extend %body-text;
  background-color: $light;
}

h1 {
  font-size: 45px;
  margin: 0;
  text-transform: lowercase;
}

h2 {
  font-size: 36px;
  text-transform: lowercase;
}

h3 {
  font-size: 24px;
}

a {
  @extend %text;
  font-weight: bold;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}
