/*doc
---
title: Paragraph
name: p
category: basics
---
```html_example
    <p>This is a paragraph style.</p>
```
*/

/*doc
---
title: Code
name: code
category: basics
---
```html_example
    <code>This is code style.</code>
```
*/

