<p>Hello, <%= @resource.email %>!</p>

<p>You can change your password by clicking the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email. Your password won't change unless you use the link above to create a new one.</p>
