<% title "You're all set" %>

<p>Thanks for confirming your subscription to our newsletter!</p>

<p>While you're waiting to get the next newsletter, maybe you'd like to <%= link_to "read our previous updates", news_index_path %>?</p>

<% content_for(:footer, "<br>".html_safe) %>
