<% title "Thank you!" %>

<p>Thank you for donating to Ruby Together! Your support makes Ruby better for everyone.</p>

<p>Please take a moment and encourage your Ruby friends to join Ruby Together, too. More support for Ruby Together means we can give back more awesome to the Ruby community.</p>

<p class="center"><%= joined_tweet_link "Tweet about Ruby Together" %>, or <%= joined_mail_link "send an email" %>!</p>

<% content_for(:footer, "<br>".html_safe) %>
