<% title "You're a gem!" %>

<p>Thank you for joining Ruby Together! Your support means the world to us. ❤️</p>

<p>If you would like your name to appear in the <%= link_to "list of members", members_path %>, you can add or update your membership details on the <%= link_to "manage your membership", membership_path %> page. We've sent you an email with a link as well, in case you need to return later.</p>

<p>Please take a moment and encourage your Ruby friends to join Ruby Together, too. More support for Ruby Together means we can give back more awesome to the Ruby community.</p>

<p class="center"><%= joined_tweet_link "Tweet about Ruby Together" %>, or <%= joined_mail_link "send an email" %>!</p>

<% content_for(:footer, "<br>".html_safe) %>
