<% title "Thanks a million!" %>

<p>We’re honored that you want our face in your email inbox. Please check your email and click the link provided to confirm your subscription.</p>

<p class="center">
  Follow us on Twitter and GitHub, too!<br>
  <%= link_to iconic_tag("social-twitter-md"), "https://twitter.com/rubytogether" %>
  <%= link_to iconic_tag("social-github-md"), "https://github.com/rubytogether" %>
</p>


<p class="aside">We promise we’ll never spam you or sell your information, and you can unsubscribe from our email updates at any time.</p>

<% content_for(:footer, "<br>".html_safe) %>