---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15nY3IAcWgwn5pBtisl4M4d6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15nY3IAcWgwn5pBtisl4M4d6",
          "created": 1428080032,
          "livemode": false,
          "type": "customer.subscription.created",
          "data": {
            "object": {
              "id": "sub_5zX7ha6aVZ6Xeh",
              "plan": {
                "interval": "month",
                "name": "Ruby Together Individual Membership",
                "created": 1425204514,
                "amount": 4000,
                "currency": "usd",
                "id": "individual",
                "object": "plan",
                "livemode": false,
                "interval_count": 1,
                "trial_period_days": null,
                "metadata": {},
                "statement_descriptor": null
              },
              "object": "subscription",
              "start": 1428080032,
              "status": "active",
              "customer": "cus_5zX7jk6DxkTfzh",
              "cancel_at_period_end": false,
              "current_period_start": 1428080032,
              "current_period_end": 1430672032,
              "ended_at": null,
              "trial_start": null,
              "trial_end": null,
              "canceled_at": null,
              "quantity": 1,
              "application_fee_percent": null,
              "discount": null,
              "tax_percent": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5zX7MhAJ6RJnbJ",
          "api_version": "2015-02-18"
        }
  recorded_at: Fri, 03 Apr 2015 16:57:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=friend
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 1,
          "has_more": false,
          "url": "/v1/customers",
          "data": [
            {
              "object": "customer",
              "created": 1426914712,
              "id": "cus_5uTrwi73ORufop",
              "livemode": false,
              "description": null,
              "email": "mail@arko.net",
              "delinquent": false,
              "metadata": {},
              "subscriptions": {
                "object": "list",
                "total_count": 8,
                "has_more": false,
                "url": "/v1/customers/cus_5uTrwi73ORufop/subscriptions",
                "data": [
                  {
                    "id": "sub_5zWY0bCk9P63qI",
                    "plan": {
                      "interval": "month",
                      "name": "Ruby Together Corporate Membership",
                      "created": 1425204514,
                      "amount": 80000,
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=individual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    b[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    bo[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_topaz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Tue, 30 Jun 2015 03:32:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_sapphire
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Tue, 30 Jun 2015 03:32:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_onyx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 1,
          "has_more": false,
          "url": "/v1/customers",
          "data": [
            {
              "object": "customer",
              "created": 1442344988,
              "id": "cus_6zNmRrC7sFTNk8",
              "livemode": false,
              "description": null,
              "email": "mail@arko.net",
              "shipping": null,
              "delinquent": false,
              "metadata": {},
              "subscriptions": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/customers/cus_6zNmRrC7sFTNk8/subscriptions",
                "data": [
                  {
                    "id": "sub_6zNmkOo306EOek",
                    "plan": {
                      "interval": "month",
                      "name": "Onyx Memberbership",
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_emerald
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Sat, 03 Oct 2015 03:04:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=corporate_jade
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "total_count": 0,
          "has_more": false,
          "url": "/v1/customers",
          "data": []
        }
  recorded_at: Sat, 03 Oct 2015 03:04:41 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=1&subscription%5Bplan%5D=individual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XtTL5T07vCobwN0oPCOqg6jZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "total_count": 0,
          "url": "/v1/customers"
        }
  recorded_at: Mon, 25 Jan 2016 08:36:13 GMT
recorded_with: VCR 2.9.3
