<% content_for :footer do %>
  <ul>
    <li><%= link_to "about us", "/" %></li>
    <li><%= link_to "contact us", "/contact" %></li>
    <li><%= link_to "join us", "/join" %></li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
