<%= render_layout("application") do %>
  <%= yield %>

  <br>
  <form action="https://www.getdrip.com/forms/6239290/submissions" method="post" target="_blank" data-drip-embedded-form="6239290">
    <p data-drip-attribute="description"><b>Stay up to date</b> and hear about our work in the future by subscribing to the Ruby Together newsletter!</p>
      <div class="field">
        <label for="fields[email]">Email Address</label>
        <input type="email" name="fields[email]" value="" />
      </div>
    <div class="actions">
      <input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
    </div>
  </form>
<% end %>
